<div class="corps_page">

    <div class="accueil">
        <h1>Mini-Slack</h1>
        <div *ngIf = "this.UserService.user">
            <app-threads></app-threads>
        </div>
        <div *ngIf = "!this.UserService.user">
            <div>
                <p>Entrez un nom d'utilisateur :</p>
                <input type="text" [(ngModel)]="this.username" />
                <button type = "submit" (click)="this.UserService.login(this.username)">Connexion</button>
            </div>
        </div>
    </div>

    <div class = "message_empty_box">
        
    </div>

</div>



