.corps_threads {
  display: flex; /* Utiliser flex pour aligner les éléments côte à côte */
  height: 100vh; /* Hauteur totale de la fenêtre de visualisation */
}
 .titre{
  text-align: center;
 }

.side {
  width: 20%;
  background-color: #fdfdfd;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
  height: 100%;
}
.rightSection {
  width: 80%;
  display: flex;
  flex-direction: column;
  height: 100%; /* Occupies all available vertical space */
}

.messageList {
  background-color: #a44242;
  border: 1px solid #e6e6e6;
  border-radius: 3px;

  max-height: 80vh; 
  overflow: auto;
  flex-grow: 1; /* Takes up all available vertical space */

  margin-right: 10px;
  margin-top: 10px;
  width: 98%;
}

.messageForm input[type="text"] {
  width: 100%;
}

.messageForm {
  width: 98%;
}

/* Ajoutez ici tout autre style CSS nécessaire */